.App {
  text-align: center;
}

.calculator-container{
  display: inline-block;
  width: 66%;
  height: 66%;
  border: 4px solid black;
  margin-top: 2em;
}

.result{
  margin: 2em;
}

.key-container{
  color: white;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  border-top: 4px solid black;
}

.calc-key{
  background-color: darkred;
  vertical-align: center;
  padding: 3rem;
  text-align: center;
}